$base-blue: #003285;
$light-blue: #2A629A;
$theme-yellow: #FFDA78;
$theme-orange: #FF7F3E;

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrapper {
  width: 100%;
  background-color: $light-blue;
  padding: 10px;

  .logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 40px;
  }
}

.menu-wrapper {
  position: relative;

  .menu-icon {
    display: inline-block;
    height: 21px;
    width: 28px;
    background: url(./img/menu.svg) no-repeat center;
  }

  .menu-icon-close {
    display: inline-block;
    height: 21px;
    width: 28px;
    background: url(./img/close.svg) no-repeat center;

    :hover {
      border: 0;
      outline: 0;
    }
  }

  .menu-icon-hidden {
    display: none;
  }
  .menu-icon-close-hidden {
    display: none;
  }
  .menu-block-hidden {
    display: none;
  }
  .menu-block {
    position: absolute;
    top: 15px;
    padding: 20px;
    background: #ccc;
    width: 200px;
    right: 0;
  }
}

