$base-blue: #003285;
$light-blue: #2A629A;
$theme-yellow: #FFDA78;
$theme-orange: #FF7F3E;

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrapper {
  width: 100%;
  background-color: $light-blue;
  padding: 10px;

  .logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 40px;
  }
}

.menu-wrapper {
  .ul {
    display: none;
  }
  #menu-icon {
    display: inline-block;
    height: 21px;
    width: 28px;
    background: url(./img/menu.svg) no-repeat center;
    :hover {
      border: 0;
      outline: 0;
    }
  }
}